body {
  /* Shorthand for background properties */
  background: url("https://i.imgur.com/7JNDQi5.png") no-repeat top right / cover;

  /* Ensures background image adjusts on mobile/portrait */
  background-attachment: fixed;
}

@media (max-width: 768px), (orientation: portrait) {
  body {
    background: url("https://i.imgur.com/adLw5bP.png") no-repeat top right / cover;
  }
}
.glass {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
.glass-100 {
    backdrop-filter: blur(4px);
}
.glass-200 {
    backdrop-filter: blur(6px);
}
.glass-300 {
    backdrop-filter: blur(10px);
}
.glass-400 {
    backdrop-filter: blur(12px);
}

.glass-500 {
    backdrop-filter: blur(15px);
}
.glass-600 {
    backdrop-filter: blur(18px);
}
